<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Comic Reader</title>
    <meta name="description" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kthoom.css') }}" type="text/css"/>

    <script src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/screenfull.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kthoom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/archive.js') }}"></script>
    <script>
            document.onreadystatechange = function () {
              if (document.readyState == "complete") {
                init("{{ url_for('static', filename=comicfile) }}");
                }                
            };
    </script>    
  </head>
  <body>
    <div id="sidebar">
      <div id="panels">
        <!-- <a id="show-Toc" class="show_view icon-list-1 active" data-view="Toc">TOC</a> -->
        <!-- <a id="show-Bookmarks" class="show_view icon-bookmark" data-view="Bookmarks">Bookmarks</a> -->
      </div>
      <div id="tocView" class="view">
        <ul id="thumbnails"></ul>
      </div>
      <div id="bookmarksView" class="view">
        <ul id="bookmarks"></ul>
      </div>
    </div>

    <div id="main" class="main">
      <div id="titlebar" class="main">
        <div id="opener">
          <a id="slider" class="icon-menu">Menu</a>
        </div>
        <div id="metainfo">
          <span id="book-title"></span>
          <span id="title-seperator">&nbsp;&nbsp;–&nbsp;&nbsp;</span>
          <span id="chapter-title"></span>
        </div>
        <div id="title-controls">
          <a id="setting" class="icon-cog">Settings</a>
          <a id="fullscreen" class="icon-resize-full">Fullscreen</a>
        </div>

        <div id="progress" class="hide"></div>
          <div class="progress2" style="display:none">
          <div class="progress-bar" role="progressbar" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100" style="width:70%">
            70%
          </div>
        </div>
      </div>
      
	    <div id="mainContent">
	      <div id="mainText" style="display:none"></div>
      	<canvas id="mainImage"></canvas>
	    </div>
          <div id="prev" class="arrow" onclick="showPrevPage()">‹</div>
          <div id="next" class="arrow" onclick="showNextPage()">›</div>
    </div>

    <div class="modal md-effect-1" id="settings-modal">
        <div class="md-content">
            <h3>{{_('Settings')}}</h3>
            <div>
              <div class="settings-column">
                <table>
                  <thead>
                    <tr><th colspan="2">Keyboard Shortcuts</th></tr>
                  </thead>
                  <tbody>
                    <tr><td>&larr;</td> <td>Previous Page</td></tr>
                    <tr><td>&rarr;</td> <td>Next Page</td></tr>
                    <tr><td>H</td>      <td>Scale to Height</td></tr>
                    <tr><td>W</td>      <td>Scale to Width</td></tr>
                    <tr><td>B</td>      <td>Scale to Best Fit</td></tr>
                    <tr><td>R</td>      <td>Rotate Right</td></tr>
                    <tr><td>L</td>      <td>Rotate Left</td></tr>
                    <tr><td>F</td>      <td>Flip the image</td></tr>
                  </tbody>
                </table>
              </div>
              <div class="settings-column">
                <p>
                  <input type="checkbox" id="darkTheme" name="darkTheme"><label for="darkTheme">{{_('Dark theme')}}</label>
                </p>
              </div>
            </div>
            <div class="closer icon-cancel-circled"></div>
        </div>
    </div>
    <div class="overlay"></div>

  </body>
</html>
